@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #3b82f6; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #60a5fa; 
}